html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title=pageTitle
    body 
        main
            h1 Aufnaut 
            a#login(href="/login") 로그인
            a#join(href="/join") 회원가입