extends layout.pug
include mixins/mixin

block content 
    div  
        a(href="/upload") 작성하기
    div
        each listInfo in lists
            +list(listInfo)
        else 
            li 고객명단을 찾지 못했어요.