extends layout

block content
    if errorMessage 
    span=errorMessage
    form(method="POST") 
        input(type="date", placeholder="예약날짜", name="date", required)
        input(type="text", placeholder="성함", name="name", required)
        input(type="text", placeholder="전화번호", name="phNumber", required)
        input(type="text", placeholder="주문", name="menu", required)
        input(type="text", placeholder="요청사항", name="order", required)        
        input(type="submit", value="예약하기")

